@media (min-width: 200px) and (max-width=500px) {
    #mainmenu ul {
        display: none;
    }
}
@media (min-width: 500px) {
    #mainmenu select {
        display: none;
    }
}
p{
    color: #fff;
}
body {
    background: #6f4e37;
    font-family: sans-serif;
    margin: 0px;
    font-family: 'Hind', sans-serif;
}

#mainmenu {
    background-color: #6f4e37;
    height: 40px;
    text-align: right;
    font-family: 'Hind', sans-serif;
}

h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-family: 'Hind', sans-serif;
}

ul {
    list-style: none;

}

ul li{
    display: inline-block;
    width: 80px;
    text-align: center;
}

ul li a {
    color: #fff;
    width: 80px;
    line-height: 40px;
    text-decoration: none;
}

ul li.selected {
    background: #fff;
    width: 80px;
    border-radius: 10px;
    
}

ul li.selected a {
    color: #000;
}

input[type=text] {
  padding: 12px 125px;
  margin: 8px 0;
  box-sizing: border-box;
    border-radius: 10px solid white;
}

.form-container {
display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}
.btn {
    background: #6f4e37;
}
